<div class="container">
	<div class="sub-container users">
		<div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
	</div>
	<div class="sub-container messages">
		<div class="messages-container">
			<div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
          <li class="list-group-item">
            <b>Cras justo odio:</b> Message Here
          </li>
        </ul>
      </div>
		</div>
		<div class="message-adding">
			<form class="form">
        <div class="form-row">
          <div class="col-md-10">
            <label class="sr-only" for="inputMessage">Message</label>
            <textarea id="inputMessage" class="form-control"></textarea>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-lg mt-2">Send</button>
          </div>
        </div>
      </form>
		</div>
	</div>
</div>